/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.section-product-tagline-left
/*******************************************Global Styles*****************************************************/
a {
    color: #0366d6;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: bebas-neue-pro;
    src: url('../font/BebasNeue-Regular.woff');
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow: hidden;
    -webkit-user-drag: element;
    font-family: bebas-neue-pro, sans-serif;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 6vw;
}

h3 {
    font-size: 5vw;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/********************************************Header Styles****************************************************/
.header {
    position: absolute;
    z-index: 1;
    width: 98%;
}

.img-fluid {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header .company-logo {
    text-align: center;
}

    .header .social-media {
        text-align: right
    }

    .header .social-media-msg {
        font-family: 'Bebas Neue', sans-serif;
        color: white;
        font-size: 3vmin;
        text-align: center;
    }
.facebookIcon {
    padding-top: 5px;
    vertical-align: top;
}

.instagramIcon {
    padding-top: 5px;
    vertical-align: top;
}
/********************************************* Body Styles ***************************************************/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

section.active {
    visibility: visible;
}

.section-main {
    background-image: url('../images/backgrounds-04.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.section-main-message {
    text-align: center;
    padding-top: 30vh;
    text-transform: uppercase;
}

.section-main-image {
    text-align: left;
    width: inherit;
    height: inherit;
    background-image: url('../images/backgrounds-02.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.section-main-sub-message {
    text-align: center;
    padding-top: 35vh;
    font-size: 24px;
}

.section-product-add-to-cart {
    padding-top: 20px;
}

.section-product-name {
    float: left;
    font-size: 24px;
    width: 100%;
}

.section-product-tagline-left {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-transform: uppercase;
    top: calc(50% - 12px);
    position: fixed;
    font-weight: bold;
    left: -60px;
    font-size: 48px;
}

.section-product-tagline-right {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-transform: uppercase;
    top: calc(50% - 12px);
    position: fixed;
    font-weight: bold;
    right: -60px;
    font-size: 48px;
}

.section-product-type-left {
    margin-top: 120px;
    text-align: right;
}

.section-product-type-right {
    margin-top: 120px;
    text-align: left;
}

.section-product-type-info {
    font-size: 25px;
    text-transform: uppercase;
}

.section-product-type-img {
    width: 60px;
}

.section-item-discription {
    text-transform: lowercase;
}

.section-product-discription {
    text-transform: uppercase;
}

.section-product {
    position: absolute;
    z-index: 0;
    width: 98%;
    padding-top: 165px;
}

.section-product-img {
    width: 250px;
    transition: width 0.3s;
}

.section-product-detail-mobile {
    display: none;
}

.section-product-detail-pc {
    display: block;
}

.product-description {
    height: 30%;
    width: 100%;
    background-color: white;
}

.product-description-panel {
    bottom: 10px;
    position: fixed;
    width: 100%;
    text-align: center;
}

.product-description-info {
    font-size: 20px;
    color: black;
    padding: 5px;
    margin: 0px;
}

.product-description-imgs {
    justify-content: center;
    flex-wrap: wrap;
}

.applePear-bg {
    background-image: url('../images/backgrounds-03.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.passionfruit-bg {
    background-image: url('../images/backgrounds-05.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.guavapink-bg {
    background-image: url('../images/backgrounds-01.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.pomegranate-bg {
    background-image: url('../images/backgrounds-06.png');
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.aboutus-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

.contactus-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

/********************************************* Big PC styles *******************************************************************/
@media all and (min-width: 1600px) {
    .section-product-img {
        width: 300px;
        transition: width 0.3s;
    }

    .section-product-img {
        font-size: 24px;
    }

    .section-product {
        padding-top: 250px;
    }

    .section-product-name {
        font-size: 35px;
    }

    .section-product-type-info {
        font-size: 35px;
    }

    .product-description-info {
        font-size: 24px;
    }
}


    /********************************************* medium tablet styles *******************************************************************/
    @media all and (max-width: 991px) {

        .section-product-name {
            float: left;
            font-size: 22px;
        }

        .section-product-type-info {
            font-size: 22px;
            text-transform: uppercase;
        }

        .section-product-img {
            width: 220px;
            transition: width 0.3s;
        }

    }

    /********************************************* medium tablet styles *******************************************************************/
    @media all and (max-width: 769px) {
        h1 {
            font-size: 72px;
        }

        h2 {
            font-size: 48px;
        }

        h3 {
            font-size: 36px;
        }

        h4 {
            font-size: 24px;
        }

        .header {
            width: 97%;
        }

        .section-product-name {
            float: left;
            font-size: 20px;
        }

        .section-product-type-info {
            font-size: 20px;
            text-transform: uppercase;
        }

        .section-product-type-img {
            display: none;
        }
    }

    /********************************************* IPad *******************************************************************/

    @media all and (max-width: 479px) {
        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 32px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 18px;
        }

        .header {
            width: 96%;
        }

        .section-main-sub-message {
            font-size: 16px;
        }

        .facebookIcon {
            content: url("../images/facebook_icon16.png");
            padding-top: 5px;
        }

        .instagramIcon {
            content: url("../images/instagram_icon16.png");
        }

        .img-fluid {
            content: url("../images/logo-mobile.png");
        }

        .section-main-image {
            background-image: url("../images/home-foreground-mobile.png");
        }

        .section-product-img {
            width: 180px;
            transition: width 0.3s;
        }

        .product-description-info {
            font-size: 18px;
        }

        .section-product-detail-mobile {
            display: block
        }

        .section-product-detail-pc {
            display: none;
        }

        .section-product {
            padding-top: 100px;
        }
    }

